.about{
    min-height: 75.1vh;
    width: 100%;
    display: flex;
}

.leftSection{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
}

.leftSection a{
    height: 60px;
    width: 40%;
}

.leftSection a button{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: transparent;
    cursor: pointer;
}

.rightSection{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSection img{
    height: 65%;
    width: 50%;
}

@media screen and (max-width : 500px) {
    .about{
       flex-direction:column-reverse;
    }

    .leftSection{
        width: 100%;
    }

    .rightSection{
        width: 100%;
    }

    .leftSection h1{
        font-size: 0.9rem;
    }
    .leftSection {
        font-size: 0.7rem;
        font-weight: 600;
    }

    .leftSection a{
        height: 40%;
        width: 70%;
    }
    
    .leftSection a button{
        height: 100%;
        width: 100%;
        font-size: 1rem;
        font-weight: 700;
    }
}