
.proctDetailsPage{
    min-height: 110vh;
    width: 100vw;
    display: flex;
}

.leftContainer{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContainer{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
}

.leftContainer img{
    height: 60%;
    width: 60%;
}

.buttonContainer{
    height: 8%;
    width: 80%;
    display: flex;
    gap: 10px;
}

.addtocart2{
    height: 100%;
    width: 30%;
    background-color: white;
    border: 1px solid rgb(33,37,41);
    border-radius: 10px;
}

.title{
    color: black;
    text-align: left;
    font-size: 1.5rem;
}

a{
    height: 100%;
    width: 30%;
}

.gotoCartButton{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border:none;
    background-color: rgb(33,37,41);
    color: white;
}


@media screen and (max-width : 500px) {
    .proctDetailsPage{
        min-height: 110vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .leftContainer{
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .leftContainer img{
        height: 30%;
        width: 50%;
    }

    .rightContainer{
        height: 70%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 2rem;
    }

    .rightContainer h3{
        text-align: center;
    }
    .rightContainer h2{
        font-size: 0.9rem;
        font-weight: 700;
        text-align: center;
    }
    .rightContainer h6{
        text-align: center;
    }
    .rightContainer h1{
        text-align: center;
    }
    .rightContainer p{
        text-align: center;
    }

    .buttonContainer{
        height: 60px;
        width: 100%;
        display: flex;
        /* gap: 10px; */
    }

    .addtocart2{
        height: 100%;
        width: 50%;
        background-color: white;
        border: 1px solid rgb(33,37,41);
        border-radius: 10px;
    }

    .buttonContainer a{
        height: 100%!important;
        width: 40%;
    }

    .justify-content-between{
        font-size: 0.8rem;
    }
}