.listContainer{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center
}

.item{
    height: 500px;
    width: 280px;
    border: 2px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
}

.item img{
    height: 35%;
    width: 80%;
    border-radius: 10px;
}

.item h5{
    text-align: center;
}

.addtoCart{
    height: 10%;
    width: 90%;
    background-color: rgb(33,37,41);
    color: white;
    border: none;
    border-radius: 10px;
}

.item a{
    height: 10%;
    width: 90%;
}

.moreDetailsButton{
    height: 100%;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(33,37,41);
    border-radius: 10px;
}

a{
    text-decoration: none;
  }

  .Toastify__toast-body{
    width: 100%;
  }

  .Toastify__close-button{
    width: 10%;
  }