.listContainer{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center
}

.item{
    height: 500px;
    width: 280px;
    border: 2px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
}

.item img{
    height: 35%;
    width: 80%;
    border-radius: 10px;
}

.item h5{
    text-align: center;
}



/* .item a{
    height: 10%;
    width: 90%;
} */


/* .moreDetailsButton{
    height: 100%;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(33,37,41);
    border-radius: 10px;
} */

a{
    text-decoration: none;
  }

  .Toastify__toast-body{
    width: 100%;
  }

  .Toastify__close-button{
    width: 10%;
  }

  .buttons_container{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .moreDetailsLink{
    height: 35%;
    width: 95%;
  }
  .moreDetailsButton{
    height: 100%;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(33,37,41);
    border-radius: 10px;
    align-items: center;
}

.addtoCart{
    height: 35%;
    width: 95%;
    background-color: rgb(33,37,41);
    color: white;
    border: none;
    border-radius: 10px;
}

  @media screen and (max-width : 500px) {
    .item{
        height: 200px;
        width: 150px;
        gap: 0;

    }

    .item img{
        height: 35%;
        width: 50%;
        border-radius: 10px;
    }
    
    .item h5{
        font-size: 0.6rem;
        margin: 0;
        font-weight: 700;
    }

    .item h4 b{
        font-size: 0.7rem;
        margin: 0;
    }
    .item h6{
        font-size: 0.7rem;
        margin: 0;
    }

    .buttons_container{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
      }

      .moreDetailsLink{
        height: 70%;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .addtoCart{
        height: 70%;
        width: 50%;
        background-color: rgb(33,37,41);
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 0.5rem;
    }

    .moreDetailsButton{
        height: 100%;
        width: 100%;
        background-color: white;
        border: 2px solid rgb(33,37,41);
        border-radius: 10px;
        align-items: center;
        font-size: 0.4rem;
        font-weight: 700;
    }
}