.contact {
  min-height: 80.1vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactHeading {
  height: 20%;
  width: 70%;
  margin-top: 1.5rem;
}

.contactHeading h1 {
  text-align: center;
}

.contactForm {
  min-height: 80%;
  width: 70%;
  display: flex;
}

.leftContact {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContact {
  height: 100%;
  width: 50%;
}

.leftContact img {
  height: 75%;
  width: 60%;
}

.send_message {
  height: 60px;
  border: 2px solid rgb(43, 114, 253);
  color: rgb(43, 114, 253);
}

.send_message:hover {
  background-color: rgb(43, 114, 253);
  color: white;
}

@media screen and (max-width: 500px) {
    .contactHeading h1 {
        text-align: center;
        font-size: 1.3rem;
      }
    
  .contactForm {
    flex-direction: column;
    width: 90%;
  }

  .leftContact{
    width: 100%;
    height: 40%;
  }

  .leftContact img {
    height: 60%;
    width: 50%;
  }

  .rightContact{
    width: 100%;
    height: 60%;
  }
}
