.carousel{
    height: 70vh;
    width: 100vw;
}

.carousel-inner{
    height: 100%;
    width: 100%;
}

.carousel-item{
    height: 100%;
    width: 100%;
}

.d-block{
    height: 100%;
    width: 100%;
}

.carousel-caption{
    text-align: center;
    background-color: #00DBDE;
background-image: linear-gradient(to right, #00DBDE 0%, #FC00FF 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

@media screen and (max-width : 500px) {
    .carousel{
        height: 40vh;
    }
}