.carousel{
    height: 70vh;
    width: 100vw;
}

.carousel-inner{
    height: 100%;
    width: 100%;
}

.carousel-item{
    height: 100%;
    width: 100%;
}

.d-block{
    height: 100%;
    width: 100%;
}


@media screen and (max-width : 500px) {
    .carousel{
        height: 40vh;
    }
}